<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://i.ibb.co/gWfzFvV/netflix.png" type="image/x-icon"  />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="../assets/css/contentStyles.css" />
    <title>Netflix</title>
</head>
<body>
    <header class="header--container">
        <nav class="nav--container">
            <img class="img--HeaderNavLogo" src="https://i.ibb.co/Jst28mX/Logo-Netflix.png" alt="Netflix logo">
            <div class="div--ContainerMenu"> 
            <ul class="ul--container">
                <li class="li--item"><a class="a--item" href="">Home</a></li>
                <li class="li--item"><a class="a--item" href="">TV Shows</a></li>
                <li class="li--item"><a class="a--item" href="">Movies</a></li>
                <li class="li--item"><a class="a--item" href="">Latest</a></li>
                <li class="li--item"><a class="a--item" href="">My List</a></li>
            </ul>

            <ul class="ul--ElementsContainer">
                <li class="li--item li--Elements"><a class="a--item" href=""><i class='bx bx-search-alt-2 bx-sm'></i></a></li>
                <li class="li--item li--Elements"><a class="a--item" href="./ErrorMessage.html"><i class='bx bx-gift bx-sm' ></i></a></li>
                <li class="li--item li--Elements"><a class="a--item" href=""><i class='bx bxs-bell bx-sm' ></i></a>
                
                
                </li>
                <li class="li--item li--itemContainer" id="liItemContainer">
                    <img class="img--user" src="https://i.ibb.co/pRYPGkb/916c610076e3e6b4ed3ad215478a020b.png" alt="User perfil image">
                    <i class='i--RowDownMenu bx bxs-down-arrow ' style='color:#ffffff'  ></i>
                    <ul class="ul--SubMenu--none" id="ulSubMenu">
                        <li>
                            <div class="div--SubMenuUser">
                                <img class="img--MenuUser" src="https://i.ibb.co/p1tqkCV/fb8e8a96fca2f049334f312086a6e2f6.png" alt="User image">
                                <p id="pUsername"  class="p--SubMenuNameUser"></p>
                            </div>
                        </li>
                        <li class="li--SubMenuManage"><a class="a--SubMenu a--SubMenuManage" href="">Manage profiles</a></li>
                        <li class="li--SubMenu"><a class="a--SubMenu" href="./ErrorMessage.html">Account</a></li>
                        <li><a class="a--SubMenu" href="./ErrorMessage.html">Help Center</a></li>
                        <li><a class="a--SubMenu" href="./logoutNetflix.html">Sign out of Netflix</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </nav>
    </header>
<main>
<div class="div--principalSerie">
    <video src="../assets/video/Star Wars- The Clone Wars - Official Trailer - Disney+.mp4" autoplay muted loop></video>
    <div class="div--PrincipalSerieInfo">
        <div>
            <div class="div--MiniLogoNetflixSerie"></div>
            <h1>Star Wars <br> <span class="spanTitle">The Clone Wars</span></h1>
            <p class="p--Description">An epic civil war where a Jedi struggles to maintain freedom against the forces of evil and restore peace to the galaxy.</p>
        </div>


        <div class="divButtonsSerie">
            <button class="buttonContentSerie buttonContent1"><i class='i--buttonPlay bx bxs-right-arrow bx-sm' style='color:#000000'></i><span class="span--PlayText">Play</span></button>
            <button class="buttonContentSerie buttonContent2"><i class='bx bx-info-circle'></i> More Info</button>
        </div>
        <span class="span--Age">+7</span>
    </div>
</div>
<p class="p--TextCategory">Anime Series</p>
<section class="sectionCarruselAnime">
    <div class="carouselContainerSmall">
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<p class="p--TextCategory">Anime Series</p>
<section class="section--ContainerCarrusel sectionCarruselTrendingNow">
<div class="div--carouselContainer"> 
    <div class="div--carouselItemMedium">
        <div class="div--InfoSerie">
            <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
            <div class="div--InfoSerie--Hover">
                <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                <h3 class="h3--InfoTitle">Title Title title</h3>
                <p class="p--InfoCard">
                    <span class="span--InfoCard">13+</span> 1h 20m
                </p>
                <ul class="ul--InfoCard">
                    <li class="li--InfoCard">Drama</li>
                    <li class="li--InfoCard">Romantic</li>
                    <li class="li--InfoCard">Comedia</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="div--carouselItemMedium">
        <div class="div--InfoSerie">
            <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
            <div class="div--InfoSerie--Hover">
                <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                <h3 class="h3--InfoTitle">Title Title title</h3>
                <p class="p--InfoCard">
                    <span class="span--InfoCard">13+</span> 1h 20m
                </p>
                <ul class="ul--InfoCard">
                    <li class="li--InfoCard">Drama</li>
                    <li class="li--InfoCard">Romantic</li>
                    <li class="li--InfoCard">Comedia</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="div--carouselItemMedium">
        <div class="div--InfoSerie">
            <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
            <div class="div--InfoSerie--Hover">
                <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                <h3 class="h3--InfoTitle">Title Title title</h3>
                <p class="p--InfoCard">
                    <span class="span--InfoCard">13+</span> 1h 20m
                </p>
                <ul class="ul--InfoCard">
                    <li class="li--InfoCard">Drama</li>
                    <li class="li--InfoCard">Romantic</li>
                    <li class="li--InfoCard">Comedia</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="div--carouselItemMedium">
        <div class="div--InfoSerie">
            <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
            <div class="div--InfoSerie--Hover">
                <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                <h3 class="h3--InfoTitle">Title Title title</h3>
                <p class="p--InfoCard">
                    <span class="span--InfoCard">13+</span> 1h 20m
                </p>
                <ul class="ul--InfoCard">
                    <li class="li--InfoCard">Drama</li>
                    <li class="li--InfoCard">Romantic</li>
                    <li class="li--InfoCard">Comedia</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="div--carouselItemMedium">
        <div class="div--InfoSerie">
            <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
            <div class="div--InfoSerie--Hover">
                <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                <h3 class="h3--InfoTitle">Title Title title</h3>
                <p class="p--InfoCard">
                    <span class="span--InfoCard">13+</span> 1h 20m
                </p>
                <ul class="ul--InfoCard">
                    <li class="li--InfoCard">Drama</li>
                    <li class="li--InfoCard">Romantic</li>
                    <li class="li--InfoCard">Comedia</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="div--carouselItemMedium">
        <div class="div--InfoSerie">
            <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
            <div class="div--InfoSerie--Hover">
                <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                <h3 class="h3--InfoTitle">Title Title title</h3>
                <p class="p--InfoCard">
                    <span class="span--InfoCard">13+</span> 1h 20m
                </p>
                <ul class="ul--InfoCard">
                    <li class="li--InfoCard">Drama</li>
                    <li class="li--InfoCard">Romantic</li>
                    <li class="li--InfoCard">Comedia</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="div--carouselItemMedium">
        <div class="div--InfoSerie">
            <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
            <div class="div--InfoSerie--Hover">
                <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                <h3 class="h3--InfoTitle">Title Title title</h3>
                <p class="p--InfoCard">
                    <span class="span--InfoCard">13+</span> 1h 20m
                </p>
                <ul class="ul--InfoCard">
                    <li class="li--InfoCard">Drama</li>
                    <li class="li--InfoCard">Romantic</li>
                    <li class="li--InfoCard">Comedia</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>

<section class="section--ContainerCarrusel section--Bigger">
    <img class="imgBiggBackground" src="https://i.ibb.co/48HYKpJ/clone-wars-1848683.png" alt="Serie fondo" />
    <div class="div--BiggerVideo div--BiggerMiddle">
        <video class="video--Bigger" src="../assets/video/Star Wars- The Clone Wars - Official Trailer - Disney+.mp4" muted loop autoplay></video></div>
    <div class="div--BiggerMiddle">
        <img class="img--logoBiggerMiddle" src="https://i.ibb.co/qr5LFz1/tituloclonewars.png" alt="Serie logo">
        <div>
            <button class="button--Bigger">Play</button><button class="button--Bigger button--BiggerMoreInfo">More Info</button>
            <p class="p--BiggerTitle">
                An epic civil war where a Jedi struggles to maintain freedom
                against the forces of evil and restore peace to the galaxy.
            </p>
        </div>
    </div>
</section>

<p class="p--TextCategory">My list</p>
<section class="sectionCarruselMyList">
    <div class="carouselContainerSmall">
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carouselItemSmall">
            <div class="div--InfoSerie">
                <img class="img--ItemContainer" src="https://i.ibb.co/gWfzFvV/netflix.png" alt="">
                <div class="div--InfoSerie--Hover">
                    <div class="div--PlayButton"><i class='i--PlayButton bx bxs-right-arrow'></i></div>
                    <h3 class="h3--InfoTitle">Title Title title</h3>
                    <p class="p--InfoCard">
                        <span class="span--InfoCard">13+</span> 1h 20m
                    </p>
                    <ul class="ul--InfoCard">
                        <li class="li--InfoCard">Drama</li>
                        <li class="li--InfoCard">Romantic</li>
                        <li class="li--InfoCard">Comedia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<footer>
    <div class="div--FooterMedia">
        <a class="a--FooterLinkPages" href="https://www.facebook.com/Netflixmx" target="_blank"><img src="https://i.ibb.co/qdRTWtC/1.png" alt="Logo social media fb"></a>
        <a class="a--FooterLinkPages" href="https://www.instagram.com/NetflixLAT/" target="_blank"><img src="https://i.ibb.co/Tk5nYPd/2.png" alt="Logo social media Insta"></a>
        <a class="a--FooterLinkPages" href="https://twitter.com/netflixLAT" target="_blank"><img src="https://i.ibb.co/PhBSGYJ/3.png" alt="Logo social media Twit"></a>
        <a class="a--FooterLinkPages" href="https://www.youtube.com/channel/UC5ZiUaIJ2b5dYBYGf5iEUrA" target="_blank"><img src="https://i.ibb.co/ZfxQ015/4.png" alt="Logo social media Youtube"></a>
    </div>
    <div class="div--FooterLinkPages">
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
    </div>
    <div class="div--FooterLinkPages">
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>        
    </div>
    <div class="div--FooterLinkPages">
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
    </div>
    <div class="div--FooterLinkPages">
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
        <a class="a--FooterLinkPages" href="./ErrorMessage.html"></a>
    </div>
    <button>Service code</button>
    <span>© 1997-2020 Netflix, Inc.</span> <span>{i-01974ab0c57c0c290}</span>
</footer>
<script src="../assets/js/ScriptsContainer.js"></script>
</body>
</html>