<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://i.ibb.co/gWfzFvV/netflix.png" type="image/x-icon"  />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="../assets/css/errorMessage.css"/>
    <title>Netflix</title>
</head>
<body>
    <header>
        <a href="../index.html">
            <img src="https://i.ibb.co/Jst28mX/Logo-Netflix.png" alt="Netflix logo">
        </a>
    </header>

<h1>Pardon the interruption</h1>
<p>Sorry, we're having trouble with your request.</p>
<div>
    <a class="a--home" href="../index.html">Netflix Home</a><a class="a--errorM" href="./ErrorMessage.html">Learn More</a>
</div>
<span>Error Code <strong>404</strong></span>

</body>
</html>