<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://i.ibb.co/gWfzFvV/netflix.png" type="image/x-icon"  />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="../assets/css/logoutNetflix.css" />
    <title>Netflix</title>
</head>
<body>
<header>
    <nav>
        <a href="../index.html">
            <img src="https://i.ibb.co/Jst28mX/Logo-Netflix.png" alt="Netflix Logo" />
        </a>
        <a class="a--logoNav" href="./views/formSingIn.html">Sign In</a>
    </nav>
</header>
<section class="section--MensageContainer">
    <div class="div--ContainerMesagge">
        <h1 class="h1--content">Signed Out</h1> 
        <p class="p--content">
            Only members using a shared or public computer need to end each visit to Netflix by using the Sign Out link.
        </p>
        <p class="p--content p--content2">
            This computer will be redirected to the Netflix home page in 30 seconds.
        </p>
        <a class="a--Continue" href="../index.html">Continue</a>
    </div>
</section>
<footer>

<p class="p-item">Questions? Call<a class="a-item " onclick="alert('Llamando :)');">01 800 917 1563</a></p>
<div class="div--aContainer">
    <a class="a-item" href="./ErrorMessage.html">Gift Card Terms</a> <a class="a-item" href="./ErrorMessage.html"> Terms of Use</a> <a class="a-item" href="./ErrorMessage.html"> Privacy Statement</a>
</div>
    <select name="" id="">
        <option value="English">English</option>
        <option value="">Español</option>
    </select>
</footer>
</body>
</html>