<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://i.ibb.co/gWfzFvV/netflix.png" type="image/x-icon"  />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="../assets/css/registrationNetflix.css"/>
    <title>Netflix</title>
</head>
<body>
    <header>
        <a href="../index.html">
            <img class="img--Logo" src="https://i.ibb.co/Jst28mX/Logo-Netflix.png" alt="Netflix logo">
        </a>
        <nav>
            <a class="a--SignIn" href="./formSingIn.html">Sign In</a>
        </nav>
    </header>
<main>
<section id="sectionContainer" class="Section--CarruselContainer">
    <div id="divCardContainer" class="div--Card">
        <div id="divCartSubContainer">
            <img src="https://i.ibb.co/X3Pqv3Z/2020-06-12-09-49.png" alt="Image dispostivies">
            <p class="p--Steps">STEP <span class="span--Number">1</span> OF <span class="span--Number">3</span></p>
            <h1 class="h1--Step1">Finish setting up your account.</h1>
            <p class="p--TextDescription">Netflix is personalized for you. Create a password to watch Netflix on any device at any time.</p>
            <button id="buttonContinue1" class="button--NetflixContinue">CONTINUE</button>
        </div>
        </div>
</section>
</main>
    <footer>
        <p class="p--footer">Questions? Call <a class="a--footer" href="">018009171563</a></p>
        <ul>
            <li><a class="a--footer a--footerInformation" href="./ErrorMessage.html">FAQ</a></li>
            <li><a class="a--footer a--footerInformation" href="./ErrorMessage.html">Help Center</a></li>
            <li><a class="a--footer a--footerInformation" href="./ErrorMessage.html">Terms of Use</a></li>
            <li><a class="a--footer a--footerInformation" href="./ErrorMessage.html">Privacy</a></li>
            <li><a class="a--footer a--footerInformation" href="./ErrorMessage.html">Cookie Preferences</a></li>
            <li><a class="a--footer a--footerInformation" href="./ErrorMessage.html">Corporate Information</a></li>
        </ul>
        <select data-uia="language-picker" name="" id="">
            <option value="">English</option>
            <option value="">Español</option>
        </select>
    </footer>
    <script src="../assets/js/script.js"></script>
</body>
</html>