<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://i.ibb.co/gWfzFvV/netflix.png" type="image/x-icon"  />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/selectPerfil.css">
    <title>Netflix</title>
</head>
<body>
<header>
    <nav>
        <a href="../index.html">
            <img class="img--logo" src="https://i.ibb.co/Jst28mX/Logo-Netflix.png" alt="Netflix logo" />
        </a>
    </nav>
</header>

<div class="div--Mesagge div--before1"></div>
<div class="div--SelectProfiles">

    <a href="./content.html" class="a--ContainerUser">
        <div class="div--UserIcon" ></div>
      Pepe
    </a>
    <a class="a--ContainerPlusAdd" href="">
        <div class="div--PlusAddUser" ></div>
        Add Profile
    </a>
</div>
<div class="div--Mesagge div--before2">
    <a class="a--ManageProfiles" href="./manageProfiles.html">MANAGE PROFILES</a>
</div>

</body>
</html>